<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).InputMethodController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).KeyboardApp</string>
	<key>TISIntendedLanguage</key>
	<string>bn</string>
	<key>tsInputMethodIconFileKey</key>
	<string>ridmik.png</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.ridmik.inputmethod.macos.jatiyo</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.ridmik.inputmethod.macos.jatiyo</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Jatiyo</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>J</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Jatiyo</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Jatiyo</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>com.ridmik.inputmethod.macos.phonetic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.ridmik.inputmethod.macos.phonetic</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Phonetic</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Phonetic</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Phonetic</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>A</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>Beng</string>
			</dict>
			<key>com.ridmik.inputmethod.macos.easy</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.ridmik.inputmethod.macos.easy</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Easy</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Easy</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Easy</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>S</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>Beng</string>
			</dict>
			<key>com.ridmik.inputmethod.macos.probhat</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.ridmik.inputmethod.macos.probhat</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Probhat</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Probhat</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Probhat</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>P</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>Beng</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.ridmik.inputmethod.macos.phonetic</string>
			<string>com.ridmik.inputmethod.macos.probhat</string>
			<string>com.ridmik.inputmethod.macos.jatiyo</string>
			<string>com.ridmik.inputmethod.macos.easy</string>
		</array>
	</dict>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Beng</string>
	</array>
</dict>
</plist>
